<h1> Welcome to Kathy's Twitter API Portal </h1>

<%# insert an input box %>

<%= form_tag do %>
  <%= label_tag(:q, "Username:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% TwitterApi.get_last_25_tweets('StackCommerce').each do |tweet| %>
  <li>
    <div>
      <p><%= tweet.text %></p>
      <p><%= tweet.created_at%></p>
    <div>
  </li>
  <% end %>
</ul>

