<h1> Welcome to Kathy's Twitter API Portal </h1>

<%# insert an input box %>

<%= form_with method: :get do %>
  <%= label_tag(:q, "Username:") %>
  <%= text_field_tag(:q, "Insert Username") %>
  <%= submit_tag("Search") %>
<% end %>

<%# <% <h4> <%= username #>'s last 25 Tweets </h4>  %> 

<ul>
  <% TwitterApi.get_last_25_tweets('StackCommerce').each do |tweet| %>
  <li>
    <div>
      <p><%= tweet.text %></p>
      <p><%= tweet.created_at%></p>
    <div>
  </li>
  <% end %>
</ul>

