<h1> Welcome to Twitterverse World </h1>

<%# insert an input box %>

<%= form_with method: :get, local: true do |f| %> 
  <%= f.label :search, "Username:" %> 
  <%= f.text_field :search %> 
  <%= f.label :replies, "Include replies?" %> 
  <%= check_box_tag :replies %> 
  <%= f.label :rts, "Include retweets?" %> 
  <%= check_box_tag :rts %> 
  <%= f.submit "Search", name: nil %> 
<% end %> 

<% if @tweets.nil? %> 
<h4>Enter a username to see the most recent tweets from that account.</h4> 
<% else %> 
<h4>Displaying last 25 tweets for user <%= @tweets[0].user.name %> </h4>  
<ul> 
  <% @tweets.each do |tweet| %> 
  <li> 
    <div> 
      <p><%= tweet.text %></p> 
      <p><%= tweet.created_at %></p> 
    </div>
  </li>
  <% end %>
</ul>
<% end %>
